CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
# 忽略 CMake 构建文件
/build/
# 忽略 VSCode 配置文件
.vscode/
# 忽略 macOS 系统文件
.DS_Store
